language: cpp
compiler:
- gcc

before_install:
- sudo apt-get update -qq
- sudo apt-get install -y libsdl-* libglm-dev libglew-dev libboost-all-dev libsdl2-*
    - wget http://www.libsdl.org/release/SDL2-2.0.3.tar.gz
    - tar -zxvf SDL2-2.0.3.tar.gz
    - cd SDL2-2.0.3
    - ./configure && make && sudo make install
    - cd -

branches:
only:
- master

os:
- linux
-osx
