language: cpp
compiler:
- gcc
before_install:
- echo "yes" | sudo apt-add-repository ppa:zoogie/sdl2-snapshots
- echo [ENTER] | sudo add-apt-repository ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq
- sudo apt-get install -y gcc-4.8 g++-4.8 libsdl-* libglm-dev libglew-dev libboost-all-dev libsdl2-dev 
- autoreconf -i
- ./configure
- make


branches:
only:
- master

os:
- linux

sudo: true
