language: cpp
compiler:
- gcc

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -y libsdl-* libglm-dev libglew-dev SDL2-devel  libboost-all-dev 
 
branches:
only:
- master

os:
- linux
