language: cpp
compiler:
- gcc-4.8
before_install:
- echo "yes" | sudo apt-add-repository ppa:zoogie/sdl2-snapshots
- sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
- sudo apt-get update -qq
- sudo apt-get install -y libsdl-* libglm-dev libglew-dev libboost-all-dev libsdl2-dev 
- if [ "$CXX" = "g++" ]; then sudo apt-get install -qq g++-4.8; fi
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
- autoreconf -i
- ./configure
- make


branches:
only:
- master

os:
- linux
